<div class="card-container">
  <div class="d-flex card-text">
    <div class="exam-icon" style="width: 15%;">
      <img [src]="getSinavResmi(cardInfo.exam_name)" width="30" />
    </div>
    <div style="width: 100%;">
      <i class="fa-regular fa-circle-xmark" (click)="openConfirmationDialog(cardInfo.usercourseid); $event.stopPropagation()"></i>
      <div>{{cardInfo.exam_name}}</div>

      <nb-progress-bar class="custom-progress" [value]="20" size="tiny" status="warning"></nb-progress-bar>
      <small>
        <i class="fa-solid fa-pen"></i>Çıkmış Sorular: 20Yıl/ Konular: 20 Konu
      </small>
    </div>

  </div>
</div>
