@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Oswald:wght@200&family=Press+Start+2P&family=Roboto:wght@300&family=Rubik+Iso&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;

}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #000000;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  /* display: inline;
  float: right;
  font-size: 18px; */
  float: left;
  margin-right: 20px;
}


.nav-header, .nav-links, .nav-exit {
  display: flex;
  align-items: center;
}
.nav-links {
  flex-grow: 1; /* Diğer öğelerin alanını tamamen kaplamasını sağlar */
}
.nav-exit {
  padding-right: 20px; /* Sağ taraftan öğeler arasına boşluk bırakmak için */
}
.nav-exit a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(61, 62, 66);
  font-size: 17px;
  padding: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-exit a:hover {
  background: #ecedee;
  transition: .5s;
  color: rgb(37, 79, 250);

}


.nav > .nav-links > a {
  /* display: inline-block;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  color: #efefef; */

  display: inline-block;

  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;

}

.nav > .nav-links > a:hover {
  background: #ecedee;
  transition: .5s;
  color: rgb(37, 79, 250);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #5e5e5e;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    
    z-index: 2;
    text-align: center
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 150px;
    overflow-y: auto;
  }
  .nav-exit{
    position: absolute;
    right: 25px;
    margin-left: 1em;
    
  }
}






