<!-- <div class="container">
    <div class="row mt-2 d-flex justify-content-end">
        <div  id="countdown">
            <div id="countdown-number">{{ dakika }}:{{ saniye < 10 ? '0' : ''}}{{ saniye }}</div>
            <svg width="100" height="100">
                <circle r="40" cx="50" cy="50"></circle>
              </svg>
              
          </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn button btn-outline-success" (click)="sinaviBitir()">
                Sınavı Bitir
            </button>
        </div>
   
    </div>
</div>
<div class="container ccs mt-5 p-2">
    <div class=" mt-3">
        <div class=" d-flex justify-content-center">
            <h6 class="border-bottom border-primary rounded">{{ soruIndex + 1 }}. Question</h6>
        </div>
        <div class=" mb-2" *ngIf="questions[soruIndex]">
            <p class="card-text border-bottom border-primary rounded p-3">
                {{questions[soruIndex].question}}
            </p>
            <form [formGroup]="questionForm">
                <div class="form-check mb-3" *ngFor="let answer of questions[soruIndex].answers">
                    <input class="form-check-input" type="radio" formControlName="{{questions[soruIndex].questionid}}"
                        [value]="answer" />
                    <label class="form-check-label">{{answer.answer}} <span *ngIf="dogruCevap">
                            &nbsp;
                            <i [class]="answer.answer === this.dogruCevap?.answer ?
                            trueIcon : falseIcon" [style.color]="answer.answer === this.dogruCevap?.answer ?
                            trueIconColor : falseIconColor"></i>
                        </span>
                    </label>
                </div>
            </form>
        </div>
        <div class=" card-footer justify-content-center">
            <div class="row justify-content-center">
                <div class="col col-md-3 mt-3 d-flex justify-content-between">
                    <button class="" (click)="previousQuestion()" [disabled]="soruIndex == 0">
                        Önceki 
                    </button>
                </div>
                <div class="col col-md-3 mt-3 d-flex justify-content-between">
                    <button class="" (click)="reply()">
                        Cevapla
                    </button>
                </div>
                <div class="col col-md-3 mt-3 d-flex justify-content-between">
                    <button class="" (click)="nextQuestion()"
                        [disabled]="soruSayisi == soruIndex + 1">
                        Sonraki 
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
 -->

<div class="container">
    <div class="col d-flex justify-content-end bitir " style="margin-top: 2rem;">
        <div id="countdown">
            <div class="timer">
                <div id="countdown-number">{{ dakika }}:{{ saniye < 10 ? '0' : '' }}{{ saniye }}</div>
                </div>
            </div>
            <h6 style="margin-top: 1rem;margin-left: 20px;">{{ selectedCategoryName }}</h6>
            <div class="col d-flex justify-content-end bitir">
                <button class="finish_button" (click)="sinaviBitir()">
                    Sınavı Bitir
                </button>
            </div>
        </div>
        <br>



    </div>
    <div class="container mt-5 p-2">
        <div class="form mt-3">
            <div style="font-weight: 900;">
                {{ soruIndex + 1 }}. Soru
            </div>
            <hr>
            <div class="card-body mb-2" *ngIf="questions[soruIndex]">
                <p class="card-text border-bottom border-primary rounded p-3">
                    {{questions[soruIndex].question}}
                </p>
                <form [formGroup]="questionForm">
                    <div class="form-check mb-3" *ngFor="let answer of questions[soruIndex].answers">
                        <input class="form-check-input" type="radio"
                            formControlName="{{questions[soruIndex].questionid}}" [value]="answer" />
                        <label class="form-check-label">
                            <span *ngIf="dogruCevap">
                                <i [class]="answer.answer === this.dogruCevap.answer ?
                                    trueIcon : falseIcon" [style.color]="answer.answer === this.dogruCevap.answer ?
                                    trueIconColor : falseIconColor"></i>
                                &nbsp;
                            </span>
                            {{answer.answer}}
                        </label>
                    </div>
                </form>
            </div>
            <div class=" card-footer justify-content-end">
                <div class="row justify-content-end">
                   
                    <div class="col col-md-1 mt-1 d-flex justify-content-end">
                        <button (click)="reply()">
                            Cevabı Gör
                        </button>
                    </div>
                  
                </div>
            </div>
        </div>

    </div>
    <div class="pagination">
        <button class="button_pag" (click)="previousQuestion()" [disabled]="soruIndex == 0">
          Önceki Soru
        </button>
        <button
          *ngFor="let i of visibleButtons"
          (click)="goToQuestion(i)"
          [ngStyle]="{'background-color': getButtonBackgroundColor(questions[i].questionid)}"
          [class.active]="i === soruIndex"
        >
          {{ i + 1 }}
        </button>
        <button *ngIf="shouldShowEllipsis()" (click)="loadNextPage()">
            ...
          </button>
        <button class="button_pag" (click)="nextQuestion()">
          Sonraki Soru
        </button>
      </div>




    <!---

-----
    <div class="card mt-3">
        <div class="card-header">
            {{ soruIndex + 1 }}. Question
        </div>
        <div class="card-body mb-2" *ngIf="questions[soruIndex]">
            <p class="card-text border-bottom border-primary rounded p-3">
                {{questions[soruIndex].question}}
            </p>
            <form [formGroup]="questionForm">
                <div class="form-check mb-3" *ngFor="let answer of questions[soruIndex].answers">
                    <input class="form-check-input" type="radio" formControlName="{{questions[soruIndex].questionid}}"
                        [value]="answer" />
                    <label class="form-check-label">{{answer.answer}}</label>
                </div>
            </form>
        </div>
    </div>

------


            <button class="btn btn-success" (click)="reply()">
                Sınavı Bitir
            </button>


1.opsiyon ama birden fazla seciliyor



            <form [formGroup]="questionForm">
                <div class="form-check" formArrayName="{{questions[soruIndex].questionid}}"
                    *ngFor="let answer of questions[soruIndex].answers; let i = index">
                    <input class="form-check-input" type="radio" formControlName="{{i}}" />
                    <label class="form-check-label" for="{{i}}">{{answer.answer}}</label>
                </div>
            </form>


 value="answer.answerid"

            <form [formGroup]="questionForm">
                <div class="form-check" formArrayName="{{questions[soruIndex].questionid}}">
                    <div *ngFor="let item of this.questionForm.controls as FormArray">
                        <input class=" form-check-input" type="radio" name="{{soruIndex}}" />
                        <label class="form-check-label">{{item}}</label>
                    </div>
                </div>
            </form>




            

-->