button:hover {
    animation: scale 0.1s ease-in-out both;
}

button:hover span {
    animation: scale 0.1s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}