<div class="navbar d-flex justify-content-center">
    <p class="text-center">Sınavlara Hazırlık Merkezi: Gerçek Sorularla Pratik Yapın</p>
</div>

<div class="sub-bar">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-5 desc">
            <h1> Deneme Sınavı Platformu'na Hoş geldiniz!</h1>
            <p>Sınavlara hazırlanırken size yardımcı olmak için buradayız. ÖSYM'nin yayınladığı gerçek sınav soruları
                ile pratik yaparak sınavlarınıza daha iyi hazırlanabilirsiniz. Ücretsiz deneme sınavlarımızı çözerek
                sınav tecrübenizi artırabilirsiniz.

                Hemen başlamak için lütfen giriş yapın veya kaydolun. Eğer herhangi bir sorunuz veya geri bildiriminiz
                varsa, bizimle iletişime geçmekten çekinmeyin.

                Başarılar dileriz!</p>
        </div>
        <div class="col-2">

        </div>
        <div class="col-4">
            <img style="width: 300px;" src="../../../../assets/pictures/clip-somplete-purchases.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2 ok">
            <button (click)="gologin()" type="button" class="btn btn--yellow">
                <span class="btn__txt">Giriş Yap</span>
                <i class="btn__bg" aria-hidden="true"></i>
                <i class="btn__bg" aria-hidden="true"></i>
                <i class="btn__bg" aria-hidden="true"></i>
                <i class="btn__bg" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<h2 class="text-center">Çalışmak İstediğim Sınav:</h2>
<div class="container">
    <!-- <div class="center d-flex justify-content-space-around">
        <button class="button" (click)="goToPage('YDS')" data-button-text="YDS">YDS</button>
        <button class="button" disabled>YKS</button>
        <button class="button" disabled>LGS</button>
        <button class="button" disabled>ALES</button>
        <button class="button" disabled>KPSS</button>
    </div> -->
    <div class="card" (click)="goToPage('YDS')">
        <div class="avatar Y">Y</div> <!-- Y harfi için avatar -->
        <h4 class="card-title">YDS</h4>
        <!-- <p class="card-text">Some description here</p> -->
      </div>

      <div class="card">
        <div class="avatar YK">Y</div> <!-- Y harfi için avatar -->
        <h4 class="card-title">YKS</h4>
        <br>
        <!-- <p class="card-text">Some description here</p> -->
      </div>

      <div class="card">
        <div class="avatar L">L</div> <!-- L harfi için avatar -->
        <h4 class="card-title">LGS</h4>
        <!-- <p class="card-text">Some description here</p> -->
      </div>

      <div class="card">
        <div class="avatar A">A</div> <!-- A harfi için avatar -->
        <h4 class="card-title">ALES</h4>
        <!-- <p class="card-text">Some description here</p> -->
      </div>

      <div class="card">
        <div class="avatar K">K</div> <!-- K harfi için avatar -->
        <h4 class="card-title">KPSS</h4>

        <!-- <p class="card-text">Some description here</p> -->
        <!-- <div class="btn-holder">
          <a class="btn btn-outline-primary" href="#" title="">Button Text</a>
          </div> -->
    </div>
</div>
