


<div class="container">
    <h2 class="text-center">LÜTFEN SORULARINI ÇÖZMEK İSTEDİĞİNİZ SINAVA TIKLAYINIZ!</h2>
    <div class="center d-flex justify-content-space-around">
        <button class="button" (click)="goToPage('YDS')" data-button-text="YDS">YDS</button>
        <button class="button" disabled>YKS</button>
        <button class="button" disabled>LGS</button>
        <button class="button" disabled>ALES</button>
        <button class="button" disabled>KPSS</button>
    </div>
</div>