<section style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h4 fw-bold mb-1 mx-1 mx-md-4 mt-1">Kayıt Ol</p>

                                <form class="mx-1 mx-md-4" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">İsim</label>
                                            <input type="text" class="form-control" formControlName="name">
                                            <small class="form-text text-muted">*İsim sadece harflerden oluşmalı ve 3 -
                                                20 karakter uzunluğu arasında olmalıdır.</small>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">Soyisim</label>
                                            <input type="text" class="form-control" formControlName="surname">
                                            <small class="form-text text-muted">*Soyisim sadece harflerden oluşmalı ve 3
                                                - 20 karakter uzunluğu arasında olmalıdır.</small>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
                                            <input type="text" class="form-control" formControlName="username">
                                            <small class="form-text text-muted">*Kullanıcı adı sadece harflerden
                                                oluşmalı ve 3 - 20 karakter uzunluğu arasında olmalıdır.</small>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">Şifre</label>
                                            <input type="password" class="form-control" formControlName="password">
                                            <small class="form-text text-muted">*Şifre 3 - 20 karakter uzunluğu arasında
                                                olmalıdır.</small>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">Telefon Numarası</label>
                                            <input type="text" class="form-control" formControlName="phonenumber">
                                            <small class="form-text text-muted">*Telefon numarası 10 veya 11 karakter
                                                şeklinde olmalıdır.</small>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">Email</label>
                                            <input type="email" class="form-control" formControlName="email">
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label for="exampleInputEmail1" class="form-label">Doğum Tarihi</label>
                                            <input type="date" class="form-control" formControlName="birthdate">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                                        <button type="reset" class="btn btn-warning">Temizle</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>