<div class="container">
    <div class="row " style="margin-top: 1rem;">
        <div id="countdown">
            <div id="countdown-number">{{ minutes }}:{{ seconds < 10 ? '0' : ''}}{{ seconds }}</div>
            <svg width="100" height="100">
                <circle r="40" cx="50" cy="50"></circle>
              </svg>
              
          </div>
        <div class="col d-flex justify-content-end bitir">
            <button class="btn btn-outline-success " (click)="reply()">
                Sınavı Bitir
            </button>
        </div>
        <!--<div class="col">
            <button class="btn btn-outline-primary" disabled="true">Dakika: {{this.dakika}} Saniye:
                {{this.saniye}}</button>
        </div>-->
    </div>
</div>
<div class="container mt-5 p-2">
    <div class="form mt-3">
        <div style="font-weight: 900;">
            {{ soruIndex + 1 }}. Question
        </div>
        <hr>
        <div class="card-body mb-2" *ngIf="questions[soruIndex]">
            <p class="card-text border-bottom border-primary rounded p-3">
                {{questions[soruIndex].question}}
            </p>
            <form [formGroup]="questionForm">
                <div class="form-check mb-3" *ngFor="let answer of questions[soruIndex].answers">
                    <input class="form-check-input" type="radio" formControlName="{{questions[soruIndex].questionid}}"
                        [value]="answer" />
                    <label class="form-check-label">{{answer.answer}}
                    </label>
                </div>
            </form>
        </div>
        <div class=" card-footer justify-content-center">
            <div class="row justify-content-center">
                <div class="col col-md-3 mt-3 d-flex justify-content-between">
                    <button class="btn btn-outline-primary" (click)="previousQuestion()" [disabled]="soruIndex == 0">
                        Önceki Soru
                    </button>
                </div>
                <div class="col col-md-3 mt-3 d-flex justify-content-between">
                    <button class="btn btn-outline-primary" (click)="nextQuestion()"
                        [disabled]="soruSayisi == soruIndex + 1">
                        Sonraki Soru
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<!---

-----
    <div class="card mt-3">
        <div class="card-header">
            {{ soruIndex + 1 }}. Question
        </div>
        <div class="card-body mb-2" *ngIf="questions[soruIndex]">
            <p class="card-text border-bottom border-primary rounded p-3">
                {{questions[soruIndex].question}}
            </p>
            <form [formGroup]="questionForm">
                <div class="form-check mb-3" *ngFor="let answer of questions[soruIndex].answers">
                    <input class="form-check-input" type="radio" formControlName="{{questions[soruIndex].questionid}}"
                        [value]="answer" />
                    <label class="form-check-label">{{answer.answer}}</label>
                </div>
            </form>
        </div>
    </div>

------


            <button class="btn btn-success" (click)="reply()">
                Sınavı Bitir
            </button>


1.opsiyon ama birden fazla seciliyor



            <form [formGroup]="questionForm">
                <div class="form-check" formArrayName="{{questions[soruIndex].questionid}}"
                    *ngFor="let answer of questions[soruIndex].answers; let i = index">
                    <input class="form-check-input" type="radio" formControlName="{{i}}" />
                    <label class="form-check-label" for="{{i}}">{{answer.answer}}</label>
                </div>
            </form>


 value="answer.answerid"

            <form [formGroup]="questionForm">
                <div class="form-check" formArrayName="{{questions[soruIndex].questionid}}">
                    <div *ngFor="let item of this.questionForm.controls as FormArray">
                        <input class=" form-check-input" type="radio" name="{{soruIndex}}" />
                        <label class="form-check-label">{{item}}</label>
                    </div>
                </div>
            </form>




            

-->























  