button {
  margin-top: 1rem;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);

}

button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  animation: buttonScale 0.1s ease-in-out both;
}

button:hover span {
  animation: buttonScale 0.1s ease-in-out both;
  animation-delay: 0.06s;
}

button:active {
  animation: buttonScaleReverse 0.1s ease-in-out both;
}


button:active span {
  animation: buttonScaleReverse 0.1s ease-in-out both;
  animation-delay: 0.06s;
}

a {
  text-decoration: none;
}

@keyframes buttonScaleReverse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes buttonScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}