<div style="padding: 3rem;">

  <div class="row " style="height: 50px;">
    <div class="col-lg-3">
      <h6> Kayıt Olduğum Sınavlar</h6>
      <hr>
      <app-exam-card *ngFor="let item of exams" [cardInfo]="item"></app-exam-card>
    </div>
    <ul style="margin-left: 1rem;" class="responsive-table col-lg-8">
      <li class="table-header d-flex">
        <nb-tabset fullWidth style="width: 100%;margin-top: -13px;border-bottom: none !important;">
          <nb-tab tabTitle="Konular" class="custom-tabset">
            <!-- <li class="table-row"
                  *ngFor="let exam of categories | paginate: {itemsPerPage: 7, currentPage: pageNumber}">
                  <div class="col-8 buttton">
                      {{exam.Name}}
                  </div>
                  <div class="col examname">

                      <button class="close" (click)="getExam(exam)">Çalışmaya
                          Başla</button>
                  </div>

              </li>  -->
            <div class="row" style="margin-top:3%">
              <div class="col-md-4 mb-5"
                *ngFor="let exam of categories | paginate: {itemsPerPage: 6, currentPage: pageNumber}">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <span><img width="64" height="64"
                          src="https://img.icons8.com/external-photo3ideastudio-lineal-color-photo3ideastudio/64/external-exam-online-learning-photo3ideastudio-lineal-color-photo3ideastudio.png"
                          alt="external-exam-online-learning-photo3ideastudio-lineal-color-photo3ideastudio" /></span>
                      <h3>{{exam.Name}}</h3>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Some description</p>
                  </div>
                  <div class="card-footer" (click)="getExam(exam)">
                    <img style="width: 6%;height: 6%;" src="https://img.icons8.com/pulsar-line/48/start.png"
                      alt="start" />Çalışmaya Başla
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col d-flex justify-content-end ">
                <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
              </div>
            </div>

          </nb-tab>
          <nb-tab tabTitle="Çıkmış Sorular" class="custom-tabset">
            <!-- <li class="table-row"
                  *ngFor="let exam of categories | paginate: {itemsPerPage: 7, currentPage: pageNumber}">
                  <div class="col-8 buttton">
                      {{exam.Name}}
                  </div>
                  <div class="col examname">

                      <button class="close" (click)="getExam(exam)">Çalışmaya
                          Başla</button>
                  </div>

              </li>  -->
            <div class="row" style="margin-top:3%">
              <div class="col-md-4 mb-5"
                *ngFor="let exam of categories | paginate: {itemsPerPage: 6, currentPage: pageNumber}">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <span><img width="64" height="64"
                          src="https://img.icons8.com/external-photo3ideastudio-lineal-color-photo3ideastudio/64/external-exam-online-learning-photo3ideastudio-lineal-color-photo3ideastudio.png"
                          alt="external-exam-online-learning-photo3ideastudio-lineal-color-photo3ideastudio" /></span>
                      <h3>{{exam.Name}}</h3>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Some description</p>
                  </div>
                  <div class="card-footer" (click)="getExam(exam)">
                    <img style="width: 6%;height: 6%;" src="https://img.icons8.com/pulsar-line/48/start.png"
                      alt="start" />Çalışmaya Başla
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col d-flex justify-content-end ">
                <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
              </div>
            </div>

          </nb-tab>
        </nb-tabset>
      </li>
      <!-- <li class="table-row"
      *ngFor="let exam of categories | paginate: {itemsPerPage: 15, currentPage: pageNumber}">
      <div class="col-8 buttton">
          {{exam.Name}}
      </div>
      <div class="col examname">

          <button class="close" (click)="getExam(exam)">Çalışmaya
              Başla</button>
      </div>

  </li> -->
    </ul>
    <!-- <div class="col d-flex justify-content-center text-center" style="margin-top: 1rem;">

          <h6 style="color: rgb(120, 120, 120);">Lütfen aşağıdan bir sınav seçip başlayın!</h6>
      </div> -->
  </div>

  <!-- <div class="container"> -->



</div>






<!--<div class=" row">
                  <div class="col-md-6 ">
                      <h5>Kategoriler:</h5>

                      <select [(ngModel)]="selectedCategory" (change)="filterByCategory()" style="width: 250px;"
                          class="form-control form-select">
                          <option>Tüm Kategoriler</option>
                          <option *ngFor="let category of categories" [value]="category.Name">
                              {{category.Name}}
                          </option>
                      </select>
                  </div>

      </div>-->


<!-- <div class="container">
      <div class="row">
          <div class="col">
              <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center"
                      *ngFor="let exam of categories | paginate: {itemsPerPage: 15, currentPage: pageNumber}">
                      <div class="col">
                          {{exam.Name}}
                      </div>
                      <button class="btn btn-outline-success btn-sm" (click)="getExam(exam)">Sınava
                          Başla</button>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col d-flex justify-content-end ">
              <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
          </div>
      </div>
  </div>


</div> -->
