@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

.nb-theme-default .layout .layout-container .content .columns nb-layout-column {
    padding: 0 !important;
  }



  .nb-theme-default nb-tabset .tab:hover .tab-link {
    color: white !important;
  }
  .nb-theme-default nb-tabset .tab-link {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    padding: 1rem 2rem;
    color: white !important;
    font-family: Open Sans, sans-serif;
    font-size: .1000rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
}
/* You can add global styles to this file, and also import other style files */
@media screen and (max-width: 991px) {

    .left-side .nb-theme-default nb-sidebar.expanded,
    .nb-theme-default nb-sidebar.collapsed {
        display: none;
        /* max-height: calc(100vh - 97px);
        top: 97px;
        bottom: 0;
        overflow: auto;
        right: -220px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out; */
    }

    app-leftbar {
        display: none;

    }

    .main-panel {
        width: 100%;
    }

    .welcome-text {
        display: none;
    }

    .head-nav {
        justify-content: flex-end !important;
    }

    .right-modal {
        width: 100% !important;
    }
}

.right-modal {
    height: 100%;
    width: 100%;
}

.right-modal nb-dialog-container {
    width: 100%;
}

div, h4,h5,h6,span,p,h1,h2,h3{
  font-family: 'Montserrat', sans-serif !important;
}

.row {

  margin-right: 0 !important;
   margin-left: 0 !important;
}
